body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#top-nav, #main-nav {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: -0px;
}

#top-nav {
  background-color: rgb(3, 20, 83);
  height: 20px;
  border-bottom: 1px solid #ddd;
}

#top-nav img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  padding: 10px;
}

#main-nav {
  background-color: #faf7f7;
  color: #080808;
  padding: 15px;
  width: 98%;
  height: 45px;
}

#main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  
  transform: translateX(-150%);
  
}
#main-nav img {
    float: left;
    width: 350px;
    height: 65px;
    margin: 0 auto;
    vertical-align: left;
    transform: translateX(-95%);
   
  }


#main-nav li {
  margin: 0;
}

#main-nav li a {
  color: #060606;
  text-decoration: none;
  padding: 10px;
  
  
  &:hover {
    color: #e9b170;
    
    background-color: transparent;
  }
}

button {
   
    padding: 10px 15px;
    margin-left: 20px;
     float: right;
   border-radius: 80px;
  cursor: pointer;
  font-weight: 200px;
  border: 1px solid #514d4d;
}

button:hover {
  color: black;
  background-color: rgba(236, 224, 171, 0.8);
}
img.login-icon {

    width: 15px;
    height: 15px;

    
  }
 
  
  
  

