{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="{% static "Create.css" %}">
    {% comment %} <link rel="stylesheet" href="../NavBaar/navbaar.css"> {% endcomment %}
    
   
</head>
<body class="create">

    <!-- <nav id="top-nav"></nav>

  <nav id="main-nav">
    <img src="../images/logo.png" id="main-nav img">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Real-time Maintenance</a></li>
        
      </ul>
      <a class="cta" href="#"><button> Login/Register </button></a>
      
  </nav> -->
  {% include "Navbar.html" %}   
    <div class="container1">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
        
                <div class="card">
                    <h2 class="text-center mb-2">Create System</h2>
                    <form class="form-card" action="{% url "createsystem" %}" method="POST" >
                        {% csrf_token %}
                        <!-- Your form content remains the same -->
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                 <label class="form-control-label px-3">Name<span class="text-danger">
                                 </span></label> 
                                 <input type="text" id="fname" name="name" placeholder="Enter your first name" onblur="validate(1)">
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                 <label class="form-control-label px-3">Total Number of pulleys
                                    <span class="text-danger"></span>                                  
                                </label> 
                                <input type="number" id="number" name="totalPulleys" placeholder="Enter Number" onblur="validate(2)"> 
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                 <label class="form-control-label px-3">Number of Pulleys in shoe architecture
                                    <span class="text-danger"> </span>
                                </label> 
                                <input type="number" id="number" name="pulleysInShoe" placeholder="Enter one or two" onblur="validate(3)"> 
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                 <label class="form-control-label px-3">Thickness of the belt
                                    <span class="text-danger"> 

                                    </span></label> 
                                    <input type="number" id="number" name="beltThickness" placeholder="Enter the thickness (in mm)" onblur="validate(4)"> 
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">Length of the Belt
                                    <span class="text-danger"></span></label>
                                     <input type="number" id="length" name="beltLength" placeholder="Enter the length (in km)" onblur="validate(5)"> 
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-12 flex-column d-flex"> 
                                <label class="form-control-label px-3">Width of The Belt
                                    <span class="text-danger"> </span>
                                </label>
                                 <input type="number" id="ans" name="beltWidth" placeholder="Enter the width (in km)" onblur="validate(6)"> 
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-12 flex-column d-flex"> 
                                <label class="form-control-label px-3">Mine Address
                                    <span class="text-danger"> </span>
                                </label>
                                 <input type="text" id="Location" name="mine" placeholder="Enter the mine address (source)" onblur="validate(6)"> 
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-12 flex-column d-flex"> 
                                <label class="form-control-label px-3">Industry Address
                                    <span class="text-danger"> </span>
                                </label>
                                 <input type="text" id="Location" name="industry" placeholder="Enter the industry address (destination)" onblur="validate(6)"> 
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="form-group "> 
                                <button type="cancel" onclick="location.href='{% url "realtime" %}" class="btn-block btn-primary">cancel</button> 
                                <div class="hr"></div>
                                <button type="submit" class="btn-block btn-primary">submit</button> 
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <script src="{% static "Create.js" %}"></script>
</body>
</html>