<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .Box1 {
        background-color: darkblue;
        height: 30px;
      }
      .Box2 {
        background-color: white;
        height: 100px;
        border: 1px solid #ccc;
        border-radius: 10px;
        margin: auto;
        box-shadow: 0px 0px 5px 2px grey;
      }
      .Box2_1 {
        background-color: green;
      }
      .Box2_2 {
        background-color: yellow;
      }
    </style>
  </head>
  <body>
    <div>
      <div class="Box1">Box1</div>
      <div class="Box2">
        Box2
        <div class="Box2_1">1</div>
        <div class="Box2_2">2</div>
      </div>
    </div>
  </body>
</html>
