<!-- signup.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="verfiy.css" />
    <title>Sign Up</title>
</head>
<body>
    <div id="page-content">
        <div class="login-wrap offset-md-5 mt-5">
            <div class="login-html">
                <!-- Keep the radio button and label, but set it as checked -->
                <input id="tab-2" type="radio" name="tab" class="sign-up" checked>
                <label for="tab-2" class="tab">VERIFICATION </label>
                <div class="login-form">
                    <div class="sign-up-htm">
                        <!-- ... rest of your Sign Up content ... -->
                        
                        <div class="group">
                            <label for="pass" class="label">Please check your email, the OTP is sent to <b>dummy.9@gmail.com</b></label></br>
                            <input id="pass" type="number" name="otp" class="input" data-type="number">
                        </div>
                        </br>
                        
                        <div class="group">
                            <input type="submit" class="button" value="Sign Up">
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="Login.js"></script>
</body>
</html>
